# Add any directories, files, or patterns you don't want to be tracked by version control
bin/
obj/
web.config
*.suo
*.user
.vs/
app.config
/D. Development/A. Code/Mazars/packages
/Code/Marcom/.vs
/Code/Marcom/.vs/Marcom/v14/*.suo
/Code/Marcom/.vs/config/applicationhost.config
/Code/Marcom/Marcom.API/bin
/Code/Marcom/Marcom.API/obj
/Code/Marcom/Marcom.DataModel/bin
/Code/Marcom/Marcom.DataModel/obj
/Code/Marcom/Marcom.MVC/bin
/Code/Marcom/Marcom.MVC/obj
/Code/Marcom/Marcom.MVC/Marcom.MVC.csproj.user
/Code/Marcom/Marcom.Repository/obj
/Code/Marcom/Marcom.Repository/bin
/Code/Marcom/Marcom.Tests/obj
/Code/Marcom/Marcom.Tests/bin
/Code/Marcom/Marcom.ViewModel/bin
/Code/Marcom/Marcom.ViewModel/obj
/Code/Marcom/.vs/config
/Code/Marcom/.vs/Marcom
/Code/Marcom/packages
