
@{
    ViewBag.Title = "Master Menu";
}

<style>
    
    table #item-list {
        counter-reset: rowNumber;
    }

    table #item-list tr {
        counter-increment: rowNumber;
    }

    table #item-list td:first-child::before {
       content: counter(rowNumber);
       min-width: 1em;
       margin-right: 0.5em;
    }
    .modal {
        
    }
     .modal .modal-dialog{ 
       
    }
      .modal .modal-dialog .modal-content{ 
        border:solid 1px #3c8dbc;
        border-radius: 10px 10px 10px 10px;
    }
       .modal .modal-dialog .modal-content .modal-header{ 
        border:solid 1px #3c8dbc;
        background-color:#3c8dbc;
        border-radius: 10px 10px 0 0;
        color: #ffffff;
    }
</style>

<div class="box">
  
    <div class="box-body">
        <div class="row">

            <div class="col-lg-12">
                <button type="button" id="btn-Create" class="btn btn-md btn-success pull-right">
                    Add
                </button>
                
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-12">
                <table class="table table-bordered table-striped" id="data-list">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Code</th>
                            <th>Menu Name</th>
                            <th>Created Date</th>
                            <th>Create By</th>     
                            <th>Action</th>
                        </tr>
                    </thead>

                    <tbody id="item-list"></tbody>

                  
                </table>
            </div>
        </div>
    </div>

</div>

<div class="modal fade" tabindex="-1" role="dialog" id="modal-Form">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">   </h4>

               
            </div>

            <div class="modal-body">
                <p>One fine body&hellip;</p>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



@section Scripts
{


<script type="text/javascript">

 
    //load data table
    $(document).ready(function () {

        ShowList(); // refresh, memanggil #table-list
 
    })

   
    //tampilan list menu
    function ShowList() {
        $.ajax({
            url: "http://localhost:50876/api/M_Menus",
            type: 'get',
            data: 'json',
            success: function (result) {
                var table = "<table class='table'>";
                table += "<tbody>";
                $.each(result, function (i, item) {

                    var tr = "<tr><td></td><td>" + item.Code + "</td><td>" + item.Name + "</td><td>" + item.CreatedDate + "</td><td>" + item.CreatedBy + "</td><td><button type='button' class='btn btn-sm  btn-View' data-id='" + item.Id + "'  onclick ='LihatMenu(this)'><span class='glyphicon glyphicon-search'></span></button><button type='button' class='btn btn-sm btn-warning btn-Edit' data-id='" + item.Id + "' onclick ='SelectItem(this)'><span class='glyphicon glyphicon-edit'></span></button><button type='button' class='btn btn-sm btn-danger btn-Delete' data-id='" + item.Id + "' onclick ='DeleteMenu(this)' ><span class='glyphicon glyphicon-trash'></span></button></td></tr>";
                    table += tr;

                })
                table += "</tbody>";
                table += "</table>";
                $("#item-list").html(table);
                $("#data-list").DataTable();
            },
            error: function (err) {
                alert(err);
            }
        })
    }

    //menampilkan modal edit
    function SelectItem(obj) {
        var id = $(obj).attr("data-id");
       // alert(JSON.stringify(id));
        $.ajax({
            url: "http://localhost:50876/api/M_Menus/" + id,
            type: 'get',
            data: 'json',
            success: function (result) {
                var tr = GetItem(result);
                $(".modal-body").html(tr);
                $(".modal-title").html("Edit Menu - " + result.Name  + "( " + result.Code + " ) " );
                $("#modal-Form").modal("show");
            },
            error: function (err) {
                alert(err);
            }
        })

    }

    

    //get by id buat popup edit
    function GetItem(data) {
        var form = "<form method='post' class='form-horizontal'>";

        form += "<table class='table col-md-12'>"
        form += "<tr><td class='control-label col-md-2'>" + ' Code' + "</td><td> <input data-val='true' id='id' name='id' type='hidden' value='" + data.Id + "'><input class='form-control text-box single-line' id='code' name='code' readonly='readonly' type='text' value='" + data.Code + "'></td>"
        form += "<tr><td class='control-label col-md-2'>" + ' Name' + "</td><td> <input class='form-control text-box single-line' type='text' id='name' name='name' value='" + data.Name + "'> </td>"
        form += "<tr><td class='control-label col-md-2'>" + ' Controller' + "</td><td> <input class='form-control text-box single-line' type='text' id='controller' name='controller' value='" + data.Controller + "'> </td>"
        form += "<tr><td class='control-label col-md-2'>" + ' ParentId' + "</td><td> <input class='form-control text-box single-line' type='text' id='parentid' name='parentid' value='" + data.ParentId + "'> </td>"
        form += "</table>";
        form += "<br>"
        form += "<button type='button' class='btn btn-sm btn-success btn-Save' onclick='UpdateMenu()'>Save</button> <button type='button' class='btn btn-sm btn-default' data-dismiss='modal'>Cancel</button>"
        form += "</form>";

        $(".modal-body").html(form);
    }


   
    //menampilkan popup create
    $("#btn-Create").click(function () {
        

        var form = "<form method='post' class='form-horizontal' name='menu' id='menu'>";

        form += "<table class='table col-md-12'>"
        form += "<tr><td class='control-label col-md-2'>" + ' Code' + "</td><td><input type='text' name='code' id='code' class='form-control col-md-6' readonly='readonly' placeholder='ME0003'></td>"
        form += "<tr><td class='control-label col-md-2'>" + ' Name' + "</td><td><input type='text' name='name' id='name' class='form-control' data-validation='length alphanumeric'></td>"
        form += "<tr><td class='control-label col-md-2'>" + ' Controller' + "</td><td><input type='text' name='code' id='controller' class='form-control'></td>"
        form += "<tr><td class='control-label col-md-2'>" + ' ParentId' + "</td><td><input type='text' name='name' id='parentid' class='form-control'></td>"
        form += "</table>";
        form += "<br>"
        form += "<button type='button' class='btn btn-sm btn-success btn-Save' onclick='AddMenu()'>Save</button> <button type='button' class='btn btn-sm btn-default' data-dismiss='modal'>Cancel</button>"
        form += "</form>";
        $(".modal-body").html(form);
        $(".modal-title").html("Add Menu");
        $("#modal-Form").modal("show");
    })

    //fungsi tambah atau post create
    function AddMenu() {
        var code = $("#code").val();
        var name = $("#name").val();
        var controller = $("#controller").val();
        var parentid = $("#parentid").val();

        var data = { Code: code, Name: name, Controller: controller, ParentId: parentid };
        //alert (JSON.stringify(data));
        $.ajax({
            url: "http://localhost:50876/api/M_Menus",
            type: 'post',
            contentType: 'application/json',
            dataType: 'json',
            data: JSON.stringify(data),
            success: function (result) {
                if (result.Success) {
                  
                    alert("Success");
                    $("#modal-Form").modal("hide");
                    ShowList();
                }
                else {
                    alert("error : " + result.Message);
                }
            },
            error: function (err) {
                alert(err);
            }
        })
    }

    //post edit
    function UpdateMenu(obj) {
        var id = $("#id").val();
        var code = $("#code").val();
        var name = $("#name").val();
        var controller = $("#controller").val();
        var parentid = $("#parentid").val();

        var data = { Id: id, Code: code, Name: name, Controller: controller, ParentId: parentid };
        $.ajax({
            url: "http://localhost:50876/api/M_Menus/" + id,
            type: 'put',
            contentType: 'application/json',
            dataType: 'json',
            data: JSON.stringify(data),
            success: function (result) {
                if (result.Success) {
                    alert("Success");
                    $("#modal-Form").modal("hide");
                    ShowList();
                }
                else {
                    alert("error : " + result.Message);
                }
            },
            error: function (err) {
                alert(err);
            }
        })
    }

    //delete
    function DeleteMenu(obj) {
        var id = $(obj).attr("data-id");
       // alert (JSON.stringify(id));
        $.ajax({
            url: "http://localhost:50876/api/M_Menus/" + id,
            type: 'delete',
            dataType: 'json',
            data: id,
            success: function (result) {
                if (result.Success) {
                    alert("Success");
                    ShowList();
                }
                else {
                    alert("error : " + result.Message);
                }
            },
            error: function (err) {
                alert(err);
            }
        })
    }

    //detail
    function LihatMenu(obj) {
        var data = $(obj).attr("data-id");
        $.ajax({
            url: "http://localhost:50876/api/M_Menus/" + data,
            type: 'GET',
            contentType: "JSON",
            success: function (result) {
                var tr = GetDetails(result);
                $(".modal-body").html(tr);
                $(".modal-title").html("View Menu - " + result.Name + "( " + result.Code + " ) ");
                $("#modal-Form").modal("show");
            },
            error: function (err) {
                alert(err)
            }
        })
    }

    function GetDetails(data) {
       
        var form = "<form method='post' class='form-horizontal'>";

        form += "<table class='table col-md-12'>"
        form += "<tr><td class='control-label col-md-2'>" + ' Code' + "</td><td> <input data-val='true' id='id' name='id' type='hidden' value='" + data.Id + "'><input class='form-control text-box single-line' id='code' name='code' readonly='readonly' type='text' value='" + data.Code + "'></td>"
        form += "<tr><td class='control-label col-md-2'>" + ' Name' + "</td><td> <input class='form-control text-box single-line' type='text' id='name' name='name' readonly='readonly' value='" + data.Name + "'> </td>"
        form += "<tr><td class='control-label col-md-2'>" + ' Controller' + "</td><td> <input class='form-control text-box single-line' type='text' id='controller' name='controller' readonly='readonly' value='" + data.Controller + "'> </td>"
        form += "<tr><td class='control-label col-md-2'>" + ' ParentId' + "</td><td> <input class='form-control text-box single-line' type='text' id='parentid' name='parentid' readonly='readonly' value='" + data.ParentId + "'> </td>"
        form += "</table>";
        form += "<br>"
        form += "<button type='button' class='btn btn-sm btn-success btn-Save' onclick='UpdateMenu()'>Save</button> <button type='button' class='btn btn-sm btn-default' data-dismiss='modal'>Cancel</button>"
        form += "</form>";

        $(".modal-body").html(form);
    }



    


</script>
}